@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
	font-family: "Raleway";
	src: url("Raleway-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway";
	src: url("Raleway-Bold.ttf") format("truetype");
}
body {
	font-family: "Raleway"; 
	margin: 0px;
}
.widcontainer {
	max-width: 1400px;
	margin: 0 auto;
}
.cadrebody {
	margin: 0 2.5% 2.5% 2.5% 

}
h1 {
	font-weight: bold
}

a {
	color: black;
    text-decoration: none;
}
.navlinklink:hover {
	color: #0065FC;
}
.navlink:hover {
    color: #0065FC;
	border-top: 3px solid #0065FC;
}
.navlink:focus {
    color: #0065FC;	
	border-top: 3px solid #0065FC; 
}
.navheader{
	height: 100%;
	width: 100%;
}

#conteneur {
	display: flex;
	align-items: center;
	vertical-align: top;
	flex-wrap: wrap;
}
	
.navlogo img{
	height:3rem;
	min-height:3rem;
}
nav {
	margin-top: 0;
	display: flex;
	width: 100%;
	align-items: center;
}

ul {
	display: flex;
	padding: 0;
	margin-top: 0;
	margin-bottom: auto;
	width: 100%;

}
li {
	text-align: center;
	margin-top: 0;
	width: 100%;
	padding: 50px 50px 50px 50px;
}
.nopuce {
	list-style-type: none;
	
}
.login {
	font-weight: bold;
	background-color: #ffffff;
	height: auto;
	margin-top: 0;
	justify-content: flex-end;
	vertical-align: top;
	display: flex;
}
.loginbleu {
	color:#0065FC;
}
.navlogo:nth-child(1)
{
    order: 1;
	flex:3;
}
nav:nth-child(2)
{
    order:2;
	flex: 1;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
}
.login:nth-child(3){
    order: 3;
	vertical-align: top;
	margin-right: 30px;
}
.formulairerecherche{
	display: flex;	
}
.buttonmapbackground {
	font-size: 20px;
}
#Rechercher {
	width: 200px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	border-left: none;
	border-right: none;
	color: black;
	font-weight: bold;
	font-family:"Raleway";
	padding-left: 16px;
}
.searchbutton {
	font-size: 16px;
	background-color : #0065FC;
	border: none;
	vertical-align: middle;
	height: 48px;
	width: auto;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	font-weight: bold;
	color: #ffffff;
	margin-left:-1px;
	padding-left: 16px;
	padding-right: 16px;
}
.searchbuttonicon {
	display: none;
}
.buttonmapbackground {
	background-color: #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: none;
	height: 48px;
	width: 48px;
	margin-left:-4px;
	display: block;
}
.iconmap {
	font-size:20px;
}

::placeholder {
	color: black;
	font-weight: bold;
	font-family:"Raleway";
	margin-left: 16px;
	opacity: 1;
}
.containerfiltres {
	display: flex; 
	flex-wrap: wrap;
}
.titrefiltres{
	font-family: "Raleway";
	font-size: 16px;
	font-weight: bold;
	margin-right: 30px;
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.filtre {
	font-family: "Raleway";
	font-size: 16px;
	font-weight: bold;
	border: 2px solid #d8d8d8;
	border-radius: 30px;
	margin-right: 30px;
	margin-top: 30px;
	align-items: center;
	display: flex;
	margin-left: 0px;
	transition: 0.3s;
}
.filtre:hover  {
	background-color: #0065FC;
	color: white;
	box-shadow: 0 0 12px #0065FC;
}
.cerclebleu {
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 46px;
	width: 46px;
	min-height: 23px;
	min-width: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
}
.textefiltre {
	margin: 0 16px;
}
.icon {
	color: #0065FC;
}
.inforecherche {
	display: flex;
	align-items: center;
	margin: 20px 0 20px 0;
}
.inforecherchecercleicone {
	border: 1px solid #d8d8d8;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
}
.inforechercheicone{
	color: #0065FC;
}
.container2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	background-color: #ffffff;
}
.résultathébergements:nth-child(1){
	flex:2;
	background-color: #ededed;
	border-radius: 16px;
	display: flex;	
}
.asidepopulaires:nth-child(2){
	flex:1;
	background-color: #ededed;
	border-radius: 16px;
	padding: 16px;
	display: flex;
	flex-direction: column;
}
.asidepopulaires {
	max-width: 405px;
}
.résultathébergements {
	height: 100%;
	min-width: 580px;
	max-width: 825px;
	padding: 16px 20px 16px 20px;
}
.container3 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.hébergementstitre{
	display: block;
	margin-left: 16px;
	width: 100%;
	font-size: 14px;
}
.photohébergement {
	width: 100%;
	height: 100%;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.carréhébergement{
	background-color: #ffffff;
	border-radius: 16px;
	margin: 10px 16px 20px 16px;
	padding: 0px;
	box-shadow: 0 0 16px #cfcfcf;
	display: flex;
	min-width: 228px;
}
.figurehebergement {
	margin: 5px 5px 0 5px;
}
.notationétoiles {
	margin: 5px 15px 5px 15px;
}
.iconeetoilebleue {
	color: #0065FC;
	font-size: 12px;
}
.iconeetoilegrise {
	color: #d8d8d8;
	font-size: 12px;
}
.prix {
	font-weight: bold;
}
.annonceprix {
	margin: 5px 15px 10px 15px;
	font-size: 14px;
}
.nomhebergement{
	margin: 5px 15px 10px 10px;
	font-size: 16px;
}
.afficherplus {
	display: inline-block;
	justify-content: right;
	font-weight: bold;
	align-self: end;
	margin-left: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	width: 100%;
}
.hébergementspoputitre {
	display: flex;
	margin: 0 30px 5px 30px;
	justify-content: space-between;
	align-items: baseline;
	font-size: 14px;
}
.photopopulaires {
	width: 133px;
	height: 133px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	margin-right: 10px;
	margin-left: 5px;
}
.carrépopulaires {
	background-color: #ffffff;
	border-radius: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px 30px 30px 30px;
	box-shadow: 0 0 16px #cfcfcf;
	max-width: 397px;
	align-items: center;
}
.figurepopulaires {
	margin: 0;
	display: flex;
}
.figcaptionpopu {
	display: inline-block;
	flex-wrap: nowrap;
	padding: 10px;
	align-self: end;
}
.nomhebergementpopu {
	margin: 0px 15px 10px 0px;
	flex-wrap: nowrap;
	font-size: 16px;
}
.annonceprixpopu {
	margin: 5px 15px 30px 0px;
	font-size: 14px;
}
.notationétoilespopu {
	margin-right:  15px;
	margin-left: 0px;
	display: block;
}
.iconepopu {
	font-size: 24px;
}
.sectionactivités {
	border-radius: 16px;	
	width:100%;
	margin-top: 60px;
	margin-bottom: 60px;
}
.activitéstitre {
	display: block;
	margin: 0px;
	font-size: 14px;
}
.containeractivitéglobal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.élément1:nth-child(1) {

} 
.élément2:nth-child(2) {
}

.élément3:nth-child(3) {

}
.élément4:nth-child(4) {

}
.containeractivitéunique {
	display: flex;
}
.containeractivitéduo{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.enfant1:nth-child(1){

}
.enfant2:nth-child(2){
	margin-top: 0px;
}
.carréactivité {
	background-color: #ffffff;
	border-radius: 16px;
	padding: 0px;
	box-shadow: 0 0 16px #cfcfcf;
	box-sizing: border-box;
	display: flex;
	width: auto;
	height: auto;
}
.carréactivitéduo {
	background-color: #ffffff;
	border-radius: 16px;
	padding: 0px;
	box-shadow: 0 0 16px #cfcfcf;
	box-sizing: border-box;
	display: flex;
	width: auto;
	height: auto;
}
.photoactivité {
	width: 100%;
	height: 100%;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;	
	object-fit: cover;
}
.photoactivité2 {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.figureactivité {
	width: 300px;
	max-height: 450px;
	margin: 0px;
}
.figureactivité2 {
	width: 300px;
	max-height: 225px;
	margin: 0px;
}
.nomactivité {
	margin-left: 16px;
	vertical-align: center;
	font-size: 16px;
	font-weight: bold;
}
footer {
	background-color: #F2F2F2;
}
.cadrefooter {
	width: 100%;
	height: 100%;
}
.footercolonnes {
	margin: 0% 31% 0% 3%;
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
}
.footercolonne {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
}
.colonnelien {
	margin: 16px 0 0 0;
}
.footertitres {
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
}
/* MEDIA QUERIES:*/

/* HEADER*/
@media screen and (max-width: 600px) {
.cadrebody {
	margin: 0%;
}
.navlogo:nth-child(1){
	order: 1;
	flex:2;
	padding-left: 20px;
}
h1 {
	padding-left: 20px;
	padding-right: 50px;
}
.intro {
	padding-left: 20px;
}
nav:nth-child(2)
{
    order:3;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
}
.login:nth-child(3)
{
    order: 2;
	vertical-align: top;
	margin-right: 20px;
}
li{
	width:50%;
	padding-bottom: 20px; 
}

.navlink:hover {
    color: #0065FC;
	border-top: none;
	border-bottom: 3px solid #0065FC;
}
.navlink:focus {
    color: #0065FC;	
	border-top: none;
	border-bottom: 3px solid #0065FC;
}
.formulairerecherche {
	padding: 20px;
}
#Rechercher{
	width: 100%;
}
.searchbutton {
	display: none;
}
.searchbuttonicon {
	display: block;
	font-size: 16px;
	background-color : #0065FC;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	height: 48px;
	width: 55px;
}
.titrefiltres{
	width: 100%;
}
.containerfiltres{
	padding: 20px;
}
.inforecherche {
	padding: 20px;
}
.container2 {
	flex-direction: column;
	margin: 0;
}
.résultathébergements:nth-child(1){
	order:2;
	max-width: 100%;
	min-width: 0px;
	margin-right: 0px;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
	border-radius: 0px;
}
.asidepopulaires:nth-child(2){
	order:1;
	max-width: 100%;
	border-radius: 0;
	margin-left: 0;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
}
.hébergementspoputitre {
	margin-left: 20px;
}
.carrépopulaires {
	margin: 0px 20px 15px 20px;
}
.figcaptionpopu {
	align-self: start;
}
.notationétoilespopu {
	display: flex;
}
.carréhébergement{
	margin: 10px 20px 10px 20px;
	width: 100%;
	display: block;
}
.figurehebergement {
	display: flex;
	flex-direction: column;
}
.photohébergement {
	width: 100%;
	max-height: 150px;
}
.hébergementstitre{
	display: block;
	margin-left: 20px;
	width: 100%;
}
.afficherplus {
	margin-bottom: 0px;
}
.containeractivitéglobal {
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}
.containeractivitéunique  {
	margin-bottom: 20px;
}
.containeractivitéduo{
	display: block;
	margin-bottom: 20px;
	justify-content: space-around;
}
.enfant2:nth-child(2){
	margin-top: 20px;
}
.photoactivité {
	width: 100%;
	height: 100%;
	margin: 0px;
}
.photoactivité2 {
	width: 100%;
	height: 100%;
}
.figureactivité {
	width: 100%;
	height: 180px;
}
.figureactivité2 {
	width: 100%;
	height: 180px;
}
.carréactivité {
	width: 100%;
}
.carrécativitéduo {
	width: 100%;
}
.lienactivité {
	width: 100%;
}
.activitéstitre {
	margin: 20px;
}
.nomactivité {
	margin-top: 20px;
}
.footercolonne {
	padding-left: 20px;
}
}